{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سامانه فروش بلیط کنسرت</title>

    <!-- Linking Bootstrap, FontAwesome, and custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'TicketSales/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'TicketSales/css/fontawesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'TicketSales/css/style.css'%}">
</head>
<body>
    <div class="container">
        <div class="row box">
            <h1>لیست کنسرت‌ها</h1>
            <ul class="btnul">
                <li><a  class="btn btn-success">پروفایل</a></li>
                <li><a  class="btn btn-success">صفحه اصلی</a></li>
            </ul>
        </div>
        <div class="row">
            {% if concerts %}
                {% for concert in concerts %}
                    <div class="col-sm-6 col-md-4 col-lg-2">
                        <a>
                            <div class="imageBox">
                                <img alt="{{ concert.name }}" src="{{ concert.Concert_picture.url }}" onerror="this.onerror=null;
                                this.src='{% static 'TicketSales/img/Concert_pictures/Homayoun_Shajarian_-_Concert-e_Simorgh.jpg' %}';">
                                {{ concert.name }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p>هیچ کنسرتی موجود نیست.</p>
            {% endif %}
        </div>
    </div>

    <!-- Include Bootstrap JavaScript (optional for interactivity) -->
    <script src="{% static 'TicketSales/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'TicketSales/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'TicketSales/js/fontawesome.js' %}"></script>
    <script src="{% static 'TicketSales/js/main.js' %}"></script>
</body>
</html>
