{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>سامانه فروش بلیط کنسرت</title>
    <link rel='stylesheet' type='text/css' href="{% static 'TicketSales/css/style.css' %}">
</head>
<body>
    <h1>لیست کنسرت‌ها</h1>

    {% if concerts %}
        <p>تعداد کنسرت های موجود: {{ concertcount }}</p>
        <ul>
            {% for concert in concerts %}
                <li>{{ concert.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>هیچ کنسرتی موجود نیست.</p>
    {% endif %}
    
</body>
</html>
